<div id="comment-<%=comment.id%>">
<strong><%=comment.user.name%></strong><br>
<%=comment.body%>
<%=comment.created_at.strftime("%I:%M :%p")%>

 <%if user_signed_in?%>
    <% if comment.user_id == current_user.id%>
         <%=link_to "Edit",edit_product_comment_path(@product,comment)%>
         <%=link_to "Delete",product_comment_path(@product,comment),method: :delete ,remote: true %>
     <%end%>
  <%end%>
  <hr>
  <br> 
  </div>