<h1>My Orders</h1>
<%current_user.orders.each do |order|  %>
  <% order.products.each do |product|%><br>
        <strong><%=order.id%></strong><br>
        <%# <%= product.id%>
        <%= product.name%><br>
        <%= product.description%><br>
        <%= product.price%><br>
        <%#=link_to "delete" ,product_order_product_path,method: :delete%>   


  <%end%><br><br><hr>
<%end%>