<%=render 'search'%>
<% if user_signed_in?%>
<p>Hi,<strong><%=current_user.name%>
</p><br><br>
<%=link_to "Add Product",new_product_path(@product)%>

<%end%>
<br>
<h1> All Products</h1>
<% @products.each do |product|%>

 <br>
 <%=render 'details' ,product: product%>
 <%= link_to "View Product",product_path(product) %>&nbsp&nbsp&nbsp
<%end%> 