<article class="container"><br><br>
  
  <%=render 'details',product: @product%>

<div class='d-flex justify-content-flex-start'>
  <%if user_signed_in?%>
    <% if @product.user_id == current_user.id%>
        <div>  <%=link_to "Edit Product",edit_product_path(@product),:class => "btn btn-secondary"%></div>
        <div>  <%=link_to "Delete Product",product_path(@product),method: :delete,:class => "btn btn-secondary"%></div>
     <%end%>
  <%end%> 
   <div>  <%= link_to "Add to cart",product_product_cart_index_path(@product),method: :create,:class => "btn btn-secondary"%></div>
</div>
<br>
  
<%if user_signed_in?%>
  <%= form_with model: [@product,@comment] do |f|%>
   <%= f.text_field :body%>
   <%=f.submit%>
   <%end%>

  <%else%>
<p> you need to <%= link_to 'log in',new_user_session_path%> before you can comment on product.</p>
<%end%>

<h2>Comments:</h2><br>

<div id="comment_section">
<%@comments.each do |comment|%>

<%=render 'comments/comment',comment:comment%>
<%end%>

</div>
</article>