<!DOCTYPE html>
<html>
  <head>
    <title>EcommerenceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="topnav"> 
    <%= link_to 'Home' ,root_path %>
    <%= link_to 'My Cart' ,product_cart_index_path%>
    <%= link_to 'My Orders' ,order_index_path %>
    <% if user_signed_in?%>    
      <%= link_to 'Sign out' ,destroy_user_session_path ,method: :delete %>
     <%=image_tag(current_user.profile_image_thumbnail) %>
    <%else%>
      <%= link_to 'Sign in' ,user_session_path %>
      <%= link_to 'Sign up' , new_user_registration_path %>
    <%end%>

    <%=search_form_for(@query,url:search_index_path,method: :get ) do |form|%>
    <%=form.search_field :name_i_cont_any, placeholder:"seacrh product"%>
    <%=form.submit "Search Product"%>
    <%end%>  
    </div>
 
    <%= yield %>
  </body>
</html>
