<h1>My Cart</h1>
<%if !user_signed_in?%>
<p> you need to <%= link_to 'log in',new_user_session_path%> before you can checkout on product.</p>
<%=debug session[:cart]%>

<%else%>

  <% @product_cart.each do |cart|%><br>
 <div class="card shadow-lg p-3 mb-5 bg-white rounded" >
         <div class="card-body">
        <strong><%#=current.cart.id%></strong><br>
        <%=render '/product/details' ,product: cart.product%>
      <strong>  Quantity: </strong><%=cart.quantity%> <br>
      <div class='d-flex justify-content-flex-start'>
     <div> <%= link_to 'Edit',edit_product_cart_path(cart),:class => "btn btn-secondary"%></div>
     <div> <%=link_to "Delete" ,product_cart_path(cart),method: :delete,:class => "btn  btn-secondary"%>   </div>
       <div><%=link_to "checkout", product_cart_checkout_path(cart),method: :post,remote: true,:class => "btn btn-secondary"%></div>
  </div>
    <br><br><hr>
    </div>
    </div>
<%end%>
<%end%>
  
